body {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 700;
}
body {
  display: flex;
  justify-content: center;
  vertical-align: middle;
  height: 100vh;
  min-height:756px;
  background-color: rgb(251,250,235)
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}
h2 {
  font-size: 2.4rem;
}

h1, h2, h3, h4,h5, h6, p {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  margin-bottom: 0;
}

button {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
}
button:focus {
  box-shadow: none !important;
}

a {
  font-family: 'M PLUS Rounded 1c', sans-serif !important;
  text-decoration: none !important;
  color: rgb(251,250,235) !important;
}
a:hover {
  color: rgb(37, 200, 162) !important;
}