#display-question {
  text-align: center;
  width: 80%;
  font-size: 2rem;
}

#letter-choices-container {
  width: 310px;
  height:auto;
}

#ltr0, #ltr1, #ltr2, #ltr3, #ltr4, #ltr5, #ltr6, #ltr7,
#ltr8, #ltr9, #ltr10, #ltr11, #ltr12, #ltr13, #ltr14, #ltr15 {
  height: 39px;
  width: 39px;
  margin: .30rem .13rem .30rem .13rem;
  padding: 0;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  background: green;
}

.riddle-icon {
  height: 30px;
  width: auto;
}

.ans-tile {
  height: 40px;
  width: 40px;
  padding-top: 0.5%;
  margin-inline: .1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 800;
  vertical-align: middle;
  border-radius: 10px;
  background-color: rgb(43, 43, 43);
  color: white;
  
}
.ans-tile:hover {
  cursor: pointer;
}

.riddle-win{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  background-color: rgba(0,0,0,.9);
}

